<div class="container">
    <div class="my-3">
        <h2>Instructions</h2>
        <ul>
            <li>You will be given a set of Multiple choice questions which you need to solve</li>
            <li>Questions will be given one by one</li>
            <li>Under each question there will be four options/choices</li>
            <li>Select the right choice and you will awarded 1 score</li>
        </ul>
    </div>
    <div class="container d-flex justify-content-center aligns-items-center">
        <button type="button" class="button-type-1 mt-5" (click)="navigate()">Start Quiz</button>
    </div>
</div>