<div class="container">
    <div class="d-flex justify-content-end">
        <button nz-button nzType="primary" class="button-type-1 mb-2" (click)="createModal(false, undefined)">Add Item</button>
    </div>
    <nz-table
    nzShowPagination
    nzShowSizeChanger
    [nzData]="quizItems"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Answer Options</th>
                <th>Correct Answer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of currentPageQuestions">
                <td>{{item.id}}</td>
                <td class="question">
                    {{item.question}}
                </td>
                <td>
                    <div *ngFor="let answer of item.answers">
                        {{answer}}
                    </div>
                </td>
                <td class="correct-answer">{{item.answers[item.correctAnswerIndex]}}</td>
                <td>
                    <button nz-button nzType="primary" class="btn btn-primary button-type-1" (click)="createModal(true, item)" >Edit</button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Question" nzType="primary" class="btn btn-danger button-type-2"
                    (nzOnConfirm)="deleteItem(item.id)"
                    nzOnCancel=""
                    >Delete</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>