<div class="container mb-5" *ngIf="showNavBar">
  <!-- <nz-affix> -->
    <nav nz-row>
      <div nz-col nzXl="6" (click)="navigateToLanding()">
        <app-title [fontSize]="30"></app-title>
      </div>
      <div nz-col nzXl="12" class="text-buttons">
        <ng-container *ngIf="isAdmin">
          <a nz-button nzType="link" routerLink="/admin" *ngIf="isAdmin">Admin Panel</a>
        </ng-container>
        <a nz-button nzType="link" href="/leaderboard">Leaderboard</a>
        <a nz-button nzType="link" href="/start-quiz">Start-Quiz</a>
        <a nz-button nzType="link" href="/results">Results</a>      
        <div *ngIf="isLoggedIn && user; else notLoggedIn" class="d-flex">
          
          <!-- <div ngbDropdown class="d-inline-block">
            <button nz-button nzType="primary" class="bg-white border-0 profile-dropdown" id="dropdownBasic1" ngbDropdownToggle>
              {{user.name}}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
          </div> -->
          <a nz-dropdown [nzDropdownMenu]="menu">
            <img src="../assets/avatar.png" alt="" srcset="" class="mr-1" style="margin-right: 5px;margin-bottom: 5px;">
            {{user.name}}
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-button nzType="primary" (click)="logout()" nz-menu-item>logout</li>
              
            </ul>
          </nz-dropdown-menu>
        </div>
        <ng-template #notLoggedIn>
          <button nz-button nzType="primary" class="button-type-2 login-btn" (click)="navigateToLogin()">Login</button>
        </ng-template>
      </div>
    </nav>
  <!-- </nz-affix> -->
  <hr>
</div>
<router-outlet (activate)="toggleNavBar($event)"></router-outlet>
