<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="left-content">
                <h2 class="mb-5">Learn<br>new concepts<br>for each question</h2>
                <p class="mb-5">We help you prepare for exams and quizes </p>
                <button type="button" class="button-type-1">Start Solving</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="../../../assets/quiz_landing_page.png" height="410" width="400">
        </div>
    </div>
</div>