<div class="container">
    <div nz-row nzJustify="space-between">
        <div nz-col nzXl="11" class="d-flex justify-content-center">
            <div class="left-content">
                <h2 class="mb-5">Learn<br>new concepts<br>for each question</h2>
                <p class="mb-5">We help you prepare for exams and quizzes </p>
                <button type="button" class="button-type-1" (click)="navigate()">Start Solving</button>
            </div>
        </div>
        <div nz-col nzXl="11" class="">
            <img src="../../../assets/quiz_landing_page.png" height="410" width="400">
        </div>
    </div>
</div>
<!-- <button type="button" (click)="open()">open modal</button> -->
