<div class="container">
    <div class="question-container mb-3">{{quizItem?.question}}</div>
    <div class="answers-container d-flex justify-content-between">
        <div *ngFor="let option of quizItem?.answers; let i = index;" class="answer-container">
            <div class="button-type-1 answer-text" 
                (click)="selectAnswer(i)" 
                [ngClass]="{'selected-option': selectedAnswer === i}">
                <p class="m-1 mb-0">{{charIndex[i]}}.</p>
                <div class="option-div d-flex justify-content-center align-items-center">
                    <div>{{option}}</div>
                </div>
            </div>
        </div>
    </div>
</div>